.signIn {
    height: 85% ;
    background-color: hsla(39, 56%, 87%, 0.4);
}
.firebaseui-idp-button {
    border-radius: 35px !important;
    max-width: 300px !important;
    width: 300px !important;
    height: 70px !important;
}

.firebaseui-idp-list {
    margin: auto !important;
}

.firebaseui-list-item {
    margin: 0px !important;
}

.firebaseui-container {
    position: relative !important;
    top: 400px !important;
}

.firebaseui-idp-google>.firebaseui-idp-text {
    padding-left: 25px !important;
    font-size: 18px !important;
}

.firebaseui-idp-icon-wrapper {
    width: 40px !important;
    height: 40px !important;
}

.firebaseui-idp-favicon, .firebaseui-idp-icon {
    width: 37px !important;
    height: 28px !important;
}

.profile-image {
    border-radius: 80px;
    width: 240px;
}

.sign-out {
    width: 100px;
    height: 35px;
    background-color: orange;
    border-style: none;
    border-radius: 25px;
}